<footer id="colophon" class="site-footer">
	<div class="container">
		<div class="copyright">
			<%- themeConfig.footerInfo %>
			<br>
			<b>Theme: </b>
			<a href="https://github.com/alterfang/gridea-theme-pan" target="_blank" title="Pan">
				<span><b>Pan</b></span>
			</a>
			<b>. Powered by </b>
			<a href="https://gridea.dev/" target="_blank" title="Gridea">
				<span><b>Gridea</b></span>
			</a>
		</div>
	</div><!-- .container -->
</footer><!-- #colophon -->